@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;700&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
}

body{
  background: radial-gradient(148.94% 26.9% at 0% 2.35%, #D8E1F1 0%, #EAF4F3 76.88%, #F1F2F4 100%);
  background-repeat: no-repeat;
  height: 100%;
}

h1{
  font-size: 90px !important;
  font-weight: 700 !important;
  line-height: 100px !important;
  color: #080E41;
}

h3{
  font-size: 50px;
  font-weight: 700;
  line-height: 75px;
}

p, ul.section-3_list>li{
  line-height: 45px;
  font-size:28px;
  /* font-weight: normal; */
  color: #080E41;
}

.btn-prim{
  background: linear-gradient(93.79deg, #FFFFFF 0%, #FF7020 0%, #F8872D 55.55%, #F19D3A 109.5%);
  border-radius: 25px;
  padding: 21px 24px;
  /* width: 275px; */
  color: white;
}
